page-home {

  .btn-start {
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    height: 32px;
    line-height: 32px;
    padding: 0px 25.6px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    @include gradient-directional(#360033, #0b8793);
    border: 1px solid #007998;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 40, 50, 0.35);
  }

  .btn-start:active {
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #1495b7;
    color: #005065;
  }

  .btn-circle {
    border-radius: 400px;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    width: 150px;
    line-height: 140px;
    height: 150px;
    padding: 0px;
    border-width: 4px;
    font-size: 24px;
  }

}
