<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <!-- left aligned content here -->
    </ion-buttons>
    <ion-title>
      <img height="50" src="assets/images/logo.png">
    </ion-title>
    <ion-buttons right>
      <!-- left aligned content here -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding text-center class="vertical-align-content">
<ion-grid>
  <ion-row>
    <ion-col style="text-align: center" col-6 push-3>
      <a class="gradient-purple-bliss btn btn-start btn-circle" (click)="startScan()">Start Scan</a>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-list id="devices" approxItemHeight="46px" [virtualScroll]="insoles.devices" [headerFn]="devicesHeaderFn">
  <ion-list-header *virtualHeader="let header">
    Devices
  </ion-list-header>
  <button ion-item *virtualItem="let device" (click)="connectSelected(device)">
    Name: {{device.name}} ID: {{device.id}}
  </button>
</ion-list>
<ion-list id="connected" approxItemHeight="46px" [virtualScroll]="insoles.connected" [headerFn]="devicesHeaderFn">
  <ion-list-header *virtualHeader="let header">
    Connected
  </ion-list-header>
  <button ion-item *virtualItem="let device" (click)="clickConnected(device)">
    Name: {{device.name}} ID: {{device.id}}
    <br> Connected: {{device.is_left?'Left':'Right'}}
  </button>
</ion-list>

  <button ion-button large (click)="goToContourPage($event)"  >Done</button>

</ion-content>
