weight-shift {

  .charts-gauge{
    margin-top: 50px;
    margin-bottom: -75px;
  }

  ngx-charts-bar-vertical {
    .ngx-charts-outer{
      margin: 0 auto;
    }
  }

  ngx-charts-legend.chart-legend {
    width: auto;
    clear: both;
    display: block;
    width: 100%;

    & > div {
      display:block;
      width: auto !important;
    }
    .legend-wrap {
      min-width:200px;
      text-align:center;
      margin:0 auto;
      float:none;
    }
    .legend-title{
      display:none;
    }
    .legend-labels{
      width: auto;
      display:inline-block;
      text-align:center;
      background:none;
      float:none;
      padding:0;
      margin-left: -60px;
    }
    .legend-label{
      display: inherit;
      .legend-label-text {
        color: #000;
      }
    }
  }

}
