<!--
  Generated template for the InsolesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
        <img height="50" src="assets/images/logo.png">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <ion-slides pager="true" initialSlide="2" (ionSlideDidChange)="slideChanged()">
      <ion-slide>
          <ion-grid>
              <ion-row justify-content-center>
                  <ion-col col-12>
                      <barchart class="left" [slideId]="0" [currentIndex]="currentIndex" [isLeft]="true"></barchart>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-slide>
      <ion-slide>
          <ion-grid>
              <ion-row justify-content-center>
                  <ion-col col-6>
                      <insole class="left" [isLeft]="true" [slideId]="1" [currentIndex]="currentIndex" ></insole>
                  </ion-col>
              </ion-row>
          </ion-grid>
          <div class="info left">
              <span>Left</span>
              <span>Max: {{left_max | number:'1.3-3' }}</span>
              <span>Avg: {{left_avg | number:'1.3-3' }}</span>
          </div>
      </ion-slide>
      <ion-slide>
          <ion-grid>
              <ion-row justify-content-center>
                  <ion-col col-6>
                      <insole class="left  hide-legend" [isLeft]="true" [slideId]="2" [currentIndex]="currentIndex"></insole>
                  </ion-col>
                  <ion-col col-6>
                      <insole class="right hide-legend" [isLeft]="false" [slideId]="2" [currentIndex]="currentIndex"></insole>
                  </ion-col>
              </ion-row>
          </ion-grid>
          <div class="info left">
              <span>Left</span>
              <span>Max: {{left_max | number:'1.3-3' }}</span>
              <span>Avg: {{left_avg | number:'1.3-3' }}</span>
          </div>
          <div class="info right">
              <span>Right</span>
              <span>Max: {{right_max | number:'1.3-3' }}</span>
              <span>Avg: {{right_avg | number:'1.3-3' }}</span>
          </div>
          <div class="sum">
              <span> Weight : {{sum | number:'1.2-2' }} Kg</span>
          </div>
      </ion-slide>
      <ion-slide>
          <ion-grid>
              <ion-row justify-content-center>
                  <ion-col col-6>
                      <insole class="right" [isLeft]="false" [slideId]="3" [currentIndex]="currentIndex"></insole>
                  </ion-col>
              </ion-row>
          </ion-grid>
          <div class="info right">
              <span>Right</span>
              <span>Max: {{right_max | number:'1.3-3' }}</span>
              <span>Avg: {{right_avg | number:'1.3-3' }}</span>
          </div>
      </ion-slide>
      <ion-slide>
          <ion-grid>
              <ion-row justify-content-center>
                  <ion-col col-12>
                      <weight-shift class="" [slideId]="4" [currentIndex]="currentIndex"></weight-shift>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-slide>
  </ion-slides>
</ion-content>
